.home{
    margin: 10px 0;
    padding: 0 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headingContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: pop-in 1s ease-out forwards;

}
.heading{
    font-size: var(--headin-font);
    margin: 3% 0;
}
.headin-name{
    color: var(--primar);
}
.imageContainer{
    display: flex;
}
.profileImg{
    width: 100%;
    animation: pop-in 1s ease-out forwards;
}
.BtnContainer{
    margin: 40px 0;
}
.skills{
    background-color: white;
}
@media only screen and (max-width:860px) {
    .home{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .headingContainer{
        width: 100%;
        text-align: center;
    }
    .BtnContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imageContainer{
        width: 50vw; /* 70vw or 50vw*/
        margin: 10% 0;
    }
}
@keyframes pop-in {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  