.home{
    margin: 10px 0;
    padding: 0 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headingContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.heading{
    font-size: var(--headin-font);
    margin: 3% 0;
}
.headin-name{
    color: var(--primar);
}
.imageContainer{
    display: flex;
}
.profileImg{
    width: 100%;
}
.BtnContainer{
    margin: 40px 0;
}
.skills{
    background-color: white;
}
@media only screen and (max-width:700px) {
    .home{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .headingContainer{
        width: 100%;
        text-align: center;
    }
    .BtnContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imageContainer{
        width: 70vw;
        margin: 10% 0;
    }
}