#skills{
    margin: 5% 0;
    padding: 0 14%;
}
.skillheader{
    font-size: var(--headin-font);
    color: var(--white);
    text-align: center;
    margin-bottom: 20px;
}
.detlailsContainer{
    display: flex;
    flex-direction: row;
}
.skillContainer{
    margin: 5% 0;
}