.Btn{
    margin: 8px 10px;
    background: var(--primar);
    padding: 10px;
    color: white;
    border-radius: 7px;
    font-size: var(--xl);
    cursor: pointer;
}
.Btn:hover{
   background: var(--background);
}
.Btn:active,.Btn:focus{    
    background: var(--primar);
}
@media screen and (max-width: 375px) {
    .Btn{
    font-size: var(--lg);

    }
}